    <div class="credits text-center">        
        <p>
            <b> &copy Project 295, Summer 2017 &copy</b>
            <br>
            <br>
            <!--<br>Team Members: </br>-->            
        </p>
    </div>
    
<!--     <div class="row" style="display: flex; justify-content: center; align-items: center;">
            <div class="col-md-3" align="center" style="height: 70px; display: flex; justify-content: center; align-items: center; ">
            	 <form action="4">
                                <input type="email" placeholder="Type your email" style="width: 40%">
                                <input type="submit" value="Subscribe">
                 </form>
			</div>
			<div class="col-md-4" align="center" style="height: 70px; display: flex; justify-content: center; align-items: center;">
			<div class="" style="margin-left:5px">                           
                            <p style="margin-left:5px;">Copyright &copy; Project 295, Spring 2017 
							<a target="_blank" href=""></a></p>
            </div>
			</div>
			<div class="col-md-4" align="center" style=" height: 70px; display: flex; justify-content: center; align-items: center; ">
			<div class="footer-social"  align="center" style="height:65px">
                            <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
            </div>
            <br>Team Members: </br>
            </div>   
       </div> -->
       
</body>
</html>